{% extends 'store/_Master.html' %}
{% load static %}
{% block title_tab %}Xiaomi | Trang liên hệ{% endblock title_tab %}

{% block main_content %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Liên hệ</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'store:index' %}" style="font-size:20px">Trang chủ</a>
                            <span>Liên hệ chúng tôi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Số điện thoại</h4>
                        <p>+01-3-8888-6868</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Địa chỉ</h4>
                        <p>122 Nguyễn Lâm, Phường 6, Quận 10, TP HCM.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Giờ mở cửa</h4>
                        <p>Từ 9:00 đến 23:00</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>hello@colorlib.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6000256481325!2d106.66095801394538!3d10.765277192329103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee8bfd9ba69%3A0x4ff8aaff9c5ef3f9!2zMTIyIE5ndXnhu4VuIEzDom0sIFBoxrDhu51uZyA2LCBRdeG6rW4gMTAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1664960393760!5m2!1svi!2s"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>TPHCM</h4>
                <ul>
                    <li>Số điện thoại: +12-345-6789</li>
                    <li>122 Nguyễn Lâm, Phường 6, Quận 10, TP HCM.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin -->
    
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" placeholder="Nhập tên" name = 'name'>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" class="form-control" placeholder="Nhập email" name = 'email'>
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea  rows="6" class="form-control" placeholder="Nhập nội dung" name = 'message'></textarea>
                        <button type="button" class="site-btn" name = "btnSend" value="Send Message">GỬI THƯ</button>
                    </div>
                </div>
            </form>
        </div>  
    </div>
    <!-- Contact Form End -->

    
{% endblock %}
