{% extends 'store/_Master.html' %}
{% load static %}
{% block title_tab %}Xiaomi | Cấp lại mật khẩu{% endblock title_tab %}
{% block main_content %}

<body class="auth_class">

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form" style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000; padding-top: 30px;">
                <div class="login_form_in">
                    <div class="auth_branding">
                        <a class="auth_branding_in" href="https://mdbootstrap.com/">
                            <i class="fab fa-mdb fa-2x auth_welcome"></i>
                        </a>
                    </div>
                    <!-- <br> -->
                    <h3 class="auth_title text-left" style="padding-bottom: 15px;"><center>Đặt lại mật khẩu</center></h3>
                    <!-- <br> -->
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Nhập email">
                        </div>
                        <div class="form-group">
                            <button type="submit"  class="btn btn-primary btn-lg btn-block" name="btnResetPassword" value = "reset password">Đặt lại mật khẩu</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
<br><br>
{% endblock %}