
{% extends 'store/_Master.html' %}
{% load static %}
{% load remove_substr %}
{% load humanize %}
{% block title_tab %}Xiaomi | Trang chủ{% endblock title_tab %}

{% block main_content %}  


    
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Điện thoại Xiaomi</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'store:index' %}" style="font-size:20px">Trang chủ</a>
                            <span style="font-size:20px">Cửa hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                {% for category in categories %}
                                <li><a href="{% url 'store:shop_grid' category.id %}">{{category}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <form method="get">
                            <div class="sidebar__item">
                                <h4>Price</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                        data-min="10" data-max="540">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="minamount">
                                            <input type="text" id="maxamount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Sản phẩm nổi bật</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-product__slider__item">
                                        {% for product in feature_products_1 %}
                                        <a href="{% url 'store:shop_details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{ product.name|remove_substr:'(Chính Hãng Digiworld)' }}</h6>
                                                <span>{{ product.price|floatformat:0|intcomma }}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="latest-product__slider__item">
                                        {% for product in feature_products_2 %}
                                        <a href="{% url 'store:shop_details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{ product.name|remove_substr:'(Chính Hãng Digiworld)' }}</h6>
                                                <span>{{ product.price|floatformat:0|intcomma }}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-9 col-md-7">
                    <h4><strong>{{ title_search }}</strong></h4>
                    <div class="row">
                    {% for product in products %}
                        {% if product.price != 'Liênhệ' %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url}}">
                                    <form  method = 'post' action = "{% url 'cart:buy_now' product.pk %}">
                                        {% csrf_token %}
                                        <ul class="product__item__pic__hover">
                                            <button type = "submit" class="btn">
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </button>
                                            <input type = "hidden" value = "1" name = "quantity"/>    
                                        </ul>
                                    </form>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'store:shop_details' product.id %}">{{ product.name|remove_substr:'(Chính Hãng Digiworld)' }}</a></h6>
                                    <h5>{{ product.price|floatformat|intcomma:0 }}</h5>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url}}"></div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'store:shop_details' product.id %}">{{ product.name|remove_substr:'(Chính Hãng Digiworld)' }}</a></h6>
                                    <h5>Hết hàng</h5>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="product__pagination">
                        {% if products.has_previous %}
                            <a href="?page={{ products.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>                                                  
                        {% endif %}

                        {% if products.number > 3 %}                                   
                            <a href="#">...</a>                                            
                        {% endif %}

                        {% for i in products.paginator.page_range %}
                            {% if i > products.number|add:'-3' %} <!--Nếu giá trị i lớn hơn trang hiện hành -->
                                {% if i < products.number|add:'3' %}
                                    {% if products.number == i %}
                                        <a  class = "active" href="?page={{ i }}">{{ i }}</a>
                                    {% else %}
                                        <a  href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if products.number < products.paginator.num_pages|add:'-3' %}                     
                                <a  href="#">...</a>
                        {% endif %}
                        
                        <!-- <a href="#">1</a> -->
                        
                        {% if products.has_next %}                        
                            <a href="?page={{ products.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>                                                   
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}